@model IEnumerable<Game>
@{
    ViewData["Title"] = "Игры";
}
<h2>@ViewData["Title"]</h2>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Игра</th>
            <th><a asp-controller="Game" asp-action="Create">Добавить</a></th>
        </tr>
    
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.GameId</td>
                <td>@item.Name</td>

                <td>
                    <a asp-controller="Game" asp-action="Edit" asp-route-id="@item.GameId">Изменить</a> |
                    <a asp-controller="Game" asp-action="Delete" asp-route-id="@item.GameId">Удалить</a>
                </td>
            </tr>
        }
    </table>
</div>